<div class="about-wrapper">
    <div class="page-title">
        About Us
    </div>
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center">
            <div class="about-text">
                <h3 class="about-title">We guarantee the highest quality of the products we sell.</h3>
                <p class="about-description">Our company is dedicated to creating unique and comfortable clothing for men and women. Since our establishment in 2010, Fashion's activity has extended from developing designer clothes to training new designers and stylists at our school, participation of our trainees at the world's leading fashion shows and writing articles about fashion.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="../../../../assets/images/about.png" alt="" width="100%">
        </div>
    </div>
</div>
