<div class="checkout-wrapper">
    <div class="page-title">
        Checkout
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="customer-info">
                <form nz-form nzLayout="vertical">
                    <h6>Customer Information</h6>
                    <nz-form-item>
                        <nz-form-control>
                            <input type="email" nz-input placeholder="Email address"> 
                        </nz-form-control>
                    </nz-form-item>

                    <div class="row">
                        <div class="col-sm-6">
                            <nz-form-item>
                                <nz-form-control>
                                    <input type="email" nz-input placeholder="First name"> 
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-6">
                            <nz-form-item>
                                <nz-form-control>
                                    <input type="email" nz-input placeholder="Last name"> 
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <nz-form-item>
                                <nz-form-control>
                                    <input type="email" nz-input placeholder="Country"> 
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-4">
                            <nz-form-item>
                                <nz-form-control>
                                    <input type="email" nz-input placeholder="City"> 
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-4">
                            <nz-form-item>
                                <nz-form-control>
                                    <input type="email" nz-input placeholder="Postal code"> 
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <nz-form-item>
                        <nz-form-control>
                            <input type="email" nz-input placeholder="House number and street name"> 
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <input type="email" nz-input placeholder="Apartment, suite, unit, etc. (optional)"> 
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control>
                            <input type="email" nz-input placeholder="Phone"> 
                        </nz-form-control>
                    </nz-form-item>

                    <h6>Additional Information</h6>
                    <nz-form-item>
                        <nz-form-control>
                            <input type="email" nz-input placeholder="Notes about your order, e.g. special notes for delivery."> 
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="order-detail">
                <h6>Your Order</h6>

                <div class="order-detail-text">
                    <p class="d-flex">
                        <span>Product</span>
                        <span>Subtotal</span>
                    </p>
                    <p class="d-flex">
                        <span>Skinny Jean X 1</span>
                        <span>$360</span>
                    </p>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>$360</span>
                    </p>

                    <p class="d-flex">
                        <span>Total</span>
                        <span>$360</span>
                    </p>
                    <ul>
                        <li>
                            <label nz-checkbox>Cash on delivery</label>
                        </li>
                        <li>
                            <label nz-checkbox>Online payment</label>
                        </li>
                    </ul>
                    <button nz-button nzType="default" nzBlock>Place Order</button>
                </div>
            </div>
        </div>
    </div>

</div>
