<div class="shoppingcart-wrapper">
    <div class="page-title">
        Shopping Cart
    </div>
    <div class="table-cart">
        <table class="table"> 
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-img">
                            <img src="../../../../assets/images/product2.png" alt="">
                        </div>
                    </td>
                    <td>
                        Skinny Jean
                    </td>
                    <td>
                        $130
                    </td>
                    <td>
                        Quantiy
                    </td>
                    <td>
                        $130
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product-img">
                            <img src="../../../../assets/images/product2.png" alt="">
                        </div>
                    </td>
                    <td>
                        Skinny Jean
                    </td>
                    <td>
                        $130
                    </td>
                    <td>
                        Quantiy
                    </td>
                    <td>
                        $130
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-end">
        <div class="col-sm-4">
            <div class="cart-total">
                <div class="cart-title">
                    <h6>Cart totals</h6>
                </div>
                <div class="cart-total-text">
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>$360</span>
                    </p>
                    <p class="d-flex">
                        <span>Total</span>
                        <span>$360</span>
                    </p>
                    <button nz-button nzType="default">Proceed To Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
