<nz-card nzTitle="Manage Product">
    <form nz-form nzLayout="vertical" [formGroup]="productForm">
        <nz-form-item>
            <nz-form-label nzFor="name">Name</nz-form-label>
            <nz-form-control nzErrorTip="Name is required">
                <input type="text" nz-input formControlName="name"> 
            </nz-form-control>
        </nz-form-item>

        <div class="row">
            <div class="col-sm-6">
                <nz-form-item>
                    <nz-form-label nzFor="category">Category</nz-form-label>
                    <nz-form-control nzErrorTip="Category is required">
                        <nz-select formControlName="category">
                            <nz-option nzValue="men's collection" nzLabel="Men's Collection"></nz-option>
                            <nz-option nzValue="women's collection" nzLabel="Women's Collection"></nz-option>
                            <nz-option nzValue="accessories" nzLabel="Accessories"></nz-option>
                          </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-sm-6">
                <nz-form-item>
                    <nz-form-label nzFor="price">Price</nz-form-label>
                    <nz-form-control nzErrorTip="Price is required">
                        <input type="text" nz-input formControlName="price"> 
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="row">
            <nz-form-item>
                <nz-form-label nzFor="image">Image</nz-form-label> 
                <nz-upload nzListType="picture-card" [nzMultiple]="false" (nzChange)="handleChange($event)">
                    <div>
                    <span nz-icon nzType="plus"></span>
                    <div style="margin-top: 8px">Upload</div>
                    </div>
                </nz-upload>
            </nz-form-item>
        </div>

        <div class="d-flex gap-2 justify-content-end">
            <button nz-button nzType="default" class="cancel-button" (click)="cancel()">Cancel</button>
            <button nz-button nzType="default" (click)="createOrUpdateForm()">Save</button>
        </div>
    </form>
</nz-card>