<div class="contact-wrapper">
    <div class="page-title">
        Get In Touch
    </div>
    <div class="row">
        <div class="col-sm-9">
            <nz-form-item>
                <nz-form-control>
                    <textarea nz-input placeholder="Message" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                </nz-form-control>
            </nz-form-item>

            <div class="row">
                <div class="col-sm-6">
                    <nz-form-item>
                        <nz-form-control>
                            <input type="text" nz-input placeholder="Name"> 
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-sm-6">
                    <nz-form-item>
                        <nz-form-control>
                            <input type="text" nz-input placeholder="Email address"> 
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <nz-form-item>
                <nz-form-control>
                    <input type="text" nz-input placeholder="Subject"> 
                </nz-form-control>
            </nz-form-item>

            <button nz-button nzType="default">SEND MESSAGE</button>
        </div>
        <div class="col-sm-3">
            <div class="contact-address">
                <div class="contact-icon">
                    <i class="bi bi-geo-alt"></i>
                </div>
                <div class="contact-text">
                    <h6>Buttonwood, California</h6>
                    <p>Rosemead, CA 917700</p>
                </div>
            </div>
            <div class="contact-address">
                <div class="contact-icon">
                    <i class="bi bi-telephone"></i>
                </div>
                <div class="contact-text">
                    <h6> 000 (440) 9865 562</h6>
                    <p>Mon to Fri 9am to 6pm</p>
                </div>
            </div>
            <div class="contact-address">
                <div class="contact-icon">
                    <i class="bi bi-envelope"></i>
                </div>
                <div class="contact-text">
                    <h6>yourstore@gmail.com</h6>
                    <p>Send us your query anytime!</p>
                </div>
            </div>
        </div>
    </div>
</div>