<div class="blog-wrapper">
    <div class="page-title">
        Blog
    </div>
    <div class="row gy-4">
        <div class="col-sm-4">
            <div class="blog-card">
                <img src="../../../../assets/images/blog-img1.png" alt="">
                <div class="blog-item-text">
                    <div class="date">
                        <i class="bi bi-calendar4"></i> 
                        <span>24 Apr, 2023</span>
                    </div>
                    <h3 class="blog-title">How to choose clothes according to the occasion and session?</h3>
                    <p class="blog-description">Dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="blog-card">
                <img src="../../../../assets/images/blog-img1.png" alt="">
                <div class="blog-item-text">
                    <div class="date">
                        <i class="bi bi-calendar4"></i> 
                        <span>24 Apr, 2023</span>
                    </div>
                    <h3 class="blog-title">How to choose clothes according to the occasion and session?</h3>
                    <p class="blog-description">Dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="blog-card">
                <img src="../../../../assets/images/blog-img1.png" alt="">
                <div class="blog-item-text">
                    <div class="date">
                        <i class="bi bi-calendar4"></i> 
                        <span>24 Apr, 2023</span>
                    </div>
                    <h3 class="blog-title">How to choose clothes according to the occasion and session?</h3>
                    <p class="blog-description">Dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="blog-card">
                <img src="../../../../assets/images/blog-img1.png" alt="">
                <div class="blog-item-text">
                    <div class="date">
                        <i class="bi bi-calendar4"></i> 
                        <span>24 Apr, 2023</span>
                    </div>
                    <h3 class="blog-title">How to choose clothes according to the occasion and session?</h3>
                    <p class="blog-description">Dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="blog-card">
                <img src="../../../../assets/images/blog-img1.png" alt="">
                <div class="blog-item-text">
                    <div class="date">
                        <i class="bi bi-calendar4"></i> 
                        <span>24 Apr, 2023</span>
                    </div>
                    <h3 class="blog-title">How to choose clothes according to the occasion and session?</h3>
                    <p class="blog-description">Dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="blog-card">
                <img src="../../../../assets/images/blog-img1.png" alt="">
                <div class="blog-item-text">
                    <div class="date">
                        <i class="bi bi-calendar4"></i> 
                        <span>24 Apr, 2023</span>
                    </div>
                    <h3 class="blog-title">How to choose clothes according to the occasion and session?</h3>
                    <p class="blog-description">Dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>
