<div class="footer">
    <div class="row">
        <div class="col-sm-4">
            <div class="footer-widget">
                <h6>Quick Links</h6>
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-contact">
                <h6>Contacts</h6>
                <ul>
                    <li><i class="bi bi-envelope"></i> yourstore@gmail.com</li>
                    <li><i class="bi bi-geo-alt"></i> Buttonwood, California</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-social">
                <h6>Social Media</h6>
                <p>You can connect with us via the following social platforms below</p>
                <div class="footer-social-icon">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
