<div class="shop-wrapper">
    <div class="row">
        <div class="col-sm-3">
            <div class="category-list">
                <h3 class="title">Categories</h3>
                <ul>
                    <li>
                        <label nz-checkbox>Men's Collection <span class="total-item">(113)</span></label>
                    </li>
                    <li>
                        <label nz-checkbox>Women's Collection <span class="total-item">(200)</span></label>
                    </li>
                    <li>
                        <label nz-checkbox>Kid's Collection <span class="total-item">(56)</span></label>
                    </li>
                    <li>
                        <label nz-checkbox>Accessories <span class="total-item">(154)</span></label>
                    </li>
                    <li>
                        <label nz-checkbox>Bag's Collection <span class="total-item">(154)</span></label>
                    </li>
                    <li>
                        <label nz-checkbox>Shoes Collection <span class="total-item">(154)</span></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row gy-4">
                <div class="col-sm-4">
                    <div class="product-item">
                        <img src="../../../assets/images/product1.png" alt="">
                        <ul class="product-details">
                            <li>
                                <a href="#">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bi bi-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bi bi-image"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-item-text">
                        <p class="product-name">Yellow T-Shirt</p>
                        <span class="product-price">$180</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-item">
                        <img src="../../../assets/images/product2.png" alt="">
                        <ul class="product-details">
                            <li>
                                <a href="#">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bi bi-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bi bi-image"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-item-text">
                        <p class="product-name">Yellow T-Shirt</p>
                        <span class="product-price">$180</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-item">
                        <img src="../../../assets/images/product3.png" alt="">
                        <ul class="product-details">
                            <li>
                                <a href="#">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bi bi-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bi bi-image"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-item-text">
                        <p class="product-name">Yellow T-Shirt</p>
                        <span class="product-price">$180</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
