<nz-table #borderedTable [nzData]="tableRows" [nzItemRender]="renderItemTemplate" [nzShowTotal]="rangeTemplate">
    <thead>
      <tr>
        <th *ngFor="let column of tableColumns">
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of borderedTable.data; index as i">
          <td *ngFor="let item of data | keyvalue : keepOrder">
            <ng-container *ngIf="item.key === 'id'">
              {{i + 1}}
            </ng-container>
            <ng-container *ngIf="item.key === 'imagePath'">
              <img [src]="item.value" alt="Image" class="img-responsive" style="max-height: 80px;">
            </ng-container>
            <ng-container *ngIf="item.key !== 'id' && item.key !== 'imagePath'">
              {{item.value}}
            </ng-container>
          </td>
        <td>
          <div class="d-flex">
            <a class="edit" [routerLink]="['./'+data.id]"><i class="bi bi-pencil-square"></i></a>
            <a class="delete" (click)="onDelete(data)"><i class="bi bi-trash"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #renderItemTemplate let-type let-page="page">
    <ng-container [ngSwitch]="type">
      <a *ngSwitchCase="'page'">{{ page }}</a>
      <a *ngSwitchCase="'prev'">Previous</a>
      <a *ngSwitchCase="'next'">Next</a>
      <a *ngSwitchCase="'prev_5'"><<</a>
      <a *ngSwitchCase="'next_5'">>></a>
    </ng-container>
 </ng-template>

 <ng-template #rangeTemplate let-range="range" let-total>
    Showing {{ range[0] }} to {{ range[1] }} of {{ total }} entries
  </ng-template>

  <ng-template #tplTitle>
    <h2>Comfirm Delete!</h2>
</ng-template>
<ng-template #tplContent>
    <p>Are you sure you want to delete?</p>
</ng-template>
<ng-template #tplFooter>
    <button nz-button (click)="deleteRow()" class="btn-danger">Ok</button>
</ng-template>
  